<h1>View Contacts</h1>

 <h2>contact</h2>
 <h3>Full Name: @Model.GetFullName()</h3>
 <h3>Phone Number: @Model.GetPhoneNumber()</h3>
 <h3>Address: @Model.GetAddress()</h3>
 <h3>City: @Model.GetCity()</h3>
 <h3>State: @Model.GetState()</h3>

 <a href="/view_all_contact"><button type="button" class="btn btn-app">View Contacts</button></a>
